<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionListasDeCompras" connectionString="Data Source=DESKTOP-DMKJBO3\SQLEXPRESS;Initial Catalog=ListasDeCompras;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>